*.aux
*.bbl
*.bcf
*.blg
*.brf
*.log
*.out
*.toc
*.lot
*.lof
*.pdf
*.dvi
*.ps
*.synctex.gz
*.fls
*.fdb_latexmk
*.xdv
*.idx
*.ind
*.ilg
*.glg
*.glo
*.ist
*-blx.bib
*_minted.pyg
*_minted.aux
*.run.xml
*.backup
*.gz
*.txt
